@import "normalize";
@import "nord";

body {
  font-family: "Fira Sans", sans-serif;
  font-size: 120%;
  color: $nord1;
  background-color: $nord6;
  padding-bottom: 50px;
}

.main-content {
  max-width: 700px;
  margin: 0 auto;
}

.table-cv {
  td {
    min-width: 100px;
  }
}

.avatar {
  width: 200px;
  height: 200px;
  float: right;
  margin-left: 20px;
  margin-bottom: 20px;
}
