<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Use the title from a page's frontmatter if it has one -->
    <title><%= current_page.data.title || "Nebojša Stričević - Homepage" %></title>

    <style>
      nav {
        max-width: 700px;
        margin: 0 auto 100px auto;
      }

      .main-content {
        max-width: 700px;
        margin: 0 auto 100px auto;
      }
    </style>
  </head>
  <body>
    <nav>
      <a href="/">Home</a>
      …
      <a href="/how_i_got_here.html">History</a>
      …
      <a href="/cv.html">CV</a>
    </nav>

    <div class="main-content">
      <%= yield %>
    </div>
  </body>
</html>
